.body{
    background-color: rgb(2, 2, 47);
    color: whitesmoke;
    overflow-x: hidden;
}
.home{
    color: rgb(180, 177, 177);
    text-decoration: none;
}
.nav{
    position:relative;
    left: 1000px;
    bottom: 50px;
    display: flex;
    gap: 14px;
    font-size: 23px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.header{
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 position: relative;
 top: 20px;
 left: 70px;
}
.home{
     color: rgb(180, 177, 177);
     font-size: 20px;
     position: relative;
     top: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.mern{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    text-align: center;
    color: rgb(99, 207, 207);
}
.turn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    display: flex;
    gap: 20px;
    position: relative;
    left: 140px;
    top: 30px;
}
.react{
    position: relative;
    left: 2px;
    top: 70px;
    display: flex;
    gap: 25px;
    
    
}
.box{
    position: relative;
    top: 50px;
}
.my{
   border-radius: 5px; 
   font-size: 20px;
   padding-bottom: 5px;
       font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       color: black; 
       background-color: khaki;
       position: relative;
       top: 90px;
       left: 270px;
}

.box{
    width: 650px;
    height: 280px;
    position: relative;
    right: 5px;
    left: 50px;
    border-radius: 20px;
}


.down{
    position: relative;
    top: 250px;
}
.box:hover{
    box-shadow: 0 5px 15px gray;
    padding: 20px;  
    
}
.about{
     color: rgb(180, 177, 177);
     font-size: 20px;
     position: relative;
     top: 10px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.profile{
    position: relative;
    right: 30px;
    text-align: center;
    font-size: 50px;
    text-transform: uppercase;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.web{
    position: relative;
    top: 10px;
    text-align: center;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.user{
    text-align: center;
    width: 800px;
    font-size: 22px;
    position: relative;
    left: 70px;
    gap: 20px;
    top: 20px;
    line-height: 40px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.light{
    width: 900px;
    height: 400px;
    position: relative;
    left: 280px;

}
.light:hover{
    box-shadow: 0 5px 15px gray;
    padding: 20px;
}
.skill{
    color: rgb(180, 177, 177);
     font-size: 20px;
     position: relative;
     top: 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.what{
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      position: relative;
      top: 40px;
}

.end{
    background-color:  rgb(10, 10, 82);
    width: 1000px;
    height: 100px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 40px; 
      border: 2px solid rgb(80, 221, 28);
      border-radius: 10px;
}
.end:hover{
     transform: translateX(40px);
}
.backend{
       background-color:  rgb(10, 10, 82);
    width: 1000px;
    height: 100px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 90px; 
      border: 2px solid rgb(229, 84, 11);
      border-radius: 10px;
}
.backend:hover{
     transform: translateX(40px);}

.database{
     background-color:  rgb(10, 10, 82);
    width: 1000px;
    height: 100px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 150px; 
      border: 2px solid rgb(158, 5, 122);
      border-radius: 10px;
}
.database:hover{
     transform: translateX(40px);}

.tools{
    background-color:  rgb(10, 10, 82);
    width: 1000px;
    height: 100px;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: relative;
    top: 200px; 
      border: 2px solid rgb(208, 238, 17);
      border-radius: 10px;
}
.tools:hover{
     transform: translateX(40px);
}
.proje{
    position: relative;
    top: 140px;
     color: rgb(180, 177, 177);
     font-size: 20px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.Featured{
    position: relative;
    top: 150px;
    font-size: 50px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.border{
    width: 700px;
    height: 500px;
    border: 2px solid rgb(243, 170, 182);
    position: relative;
    top: 180px;
    border-radius: 10px;
}
.footer{
    position: relative;
    top: 500px;
}
.prj{
     color: rgb(180, 177, 177);
     font-size: 15px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.chase{
    font-size: 35px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.page{
 font-size: 30px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
}
.design{
   font-size: 30px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center; 
}
.size{
    line-height: 40px;
    font-size: 20px;


}


